*{
  box-sizing: border-box;
  color: #272727;
}

body{
  overflow-x: hidden;
}

h1 {
  font-size: 1.5rem;
  align-self: center;
  font-weight: 700;
  color:#3F6F41;
}

h2 {
  font-size: 1.25rem;
  align-self: center;
  font-weight: 500;
}

h3{
  font-size: 1rem;
  align-self: center;
  font-weight: 500;
}

h4{
  font-size: .8rem;
  align-self: center;
  font-weight: 500;
}

h4{
  font-size: 0.75rem;
  align-self: center;
  font-weight: 500;
}

.l-web-container{
  position: relative;
  max-width: 1400px;
  min-height: calc(100vh - 14rem);
  margin: 4rem auto 0;
  padding: 0 1rem;
  overflow-x: hidden;

  &::-webkit-scrollbar{
    display: none;
  }
}

.l-web-container--license-only{
  @extend .l-web-container;

  min-height: calc(100vh - 4rem);
  padding-bottom: 2rem;
}